// Feuille de style

.test
{
    color:yellow;
}

// Page de login
.login
{
        background-image:url("Lanscape.jpg");
        background-repeat: no-repeat;
        background-position:top center;
        background-size: 100%;
}